.right-header {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

.bell {
    color: white;
    font-size: 32px;
    vertical-align: middle;
}

.bellSpan {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ff8800;
    color: #ffffff;
    min-width: 23px;
    min-height: 23px;
    border-radius: 50%;
    font-size: 0.88rem;
    line-height: 16px;
    text-align: center;
    padding: 1px;
    border: 0.128rem solid #fff;
    font-weight: 600;
    height: 20px;
    width: 20px;
}

.notificationDropdown {
    background: #f1f0f6;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 14px 33px -9px rgb(0 0 0 / 75%);
    font-size: .9rem;
    color: #545454 !important;
    text-align: left;
    width: 450px;
}

@media only screen and (max-width: 479.98px) {
    .notificationDropdown {
        width: 265px;
    }
}

@media only screen and (max-width: 359.98px) {
    .notificationDropdown {
        width: 100%;
    }
}

.notificationItem {
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding: .59rem .59rem;
    font-size: 14px;
    color: #545454;
    white-space: normal;
}

.detailsLink {
    text-align: right;
    color: #0000ff;
}
